<form (submit)="onSubmit($event)" class="login-form">
  <h2>Iniciar Sesión</h2>
  <div class="login-form__field">
    <app-form-field labelText="Email" inputType="email" inputId="email" inputName="email" [(inputValue)]="email"
      [inputRequired]="true" inputPlaceholder="Correo electrónico" [showCharacterCount]="false"></app-form-field>
  </div>

  <div class="login-form__field">
    <app-form-field labelText="Contraseña" inputType="password" inputId="password" inputName="password"
      [(inputValue)]="password" [inputRequired]="true" inputPlaceholder="Contraseña"
      [showCharacterCount]="false"></app-form-field>
  </div>

  <div class="login-form__buttons">
    <app-button type="submit" buttonText="Ingresar" class="login-form__button" [isPrimary]="true"></app-button>
  </div>
</form>
