<h2>Crear Categoría</h2>
<div class="create-category-form-container">

  <form [formGroup]="categoryForm" (ngSubmit)="handleCreateCategory()">

    <app-textarea-field formControlName="categoryName" id="categoryName" labelText="Nombre de la Categoría"
      [placeholder]="'Escribe el nombre de la categoría (máximo 50 caracteres)'" [required]="true" [maxlength]="50"
      [textareaClass]="'input-like'">
    </app-textarea-field>

    <app-textarea-field formControlName="categoryDescription" id="categoryDescription" labelText="Descripción"
      placeholder="Ingrese la descripción de la categoría" [required]="true" [maxlength]="90"
      [textareaClass]="'no-resize'">
    </app-textarea-field>

    <div class="form-actions">
      <app-button buttonText="Crear" [isPrimary]="true" type="submit"></app-button>
    </div>
  </form>

  <div *ngIf="creationResult$ | async as result" class="snackbar"
    [ngClass]="{ 'success': result?.success, 'error': result?.error }">
    {{ result?.message || result?.error }}
  </div>
</div>
