.create-category-form {
  &__container {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #111827;
    font-size: 24px;
    margin: 20px;
    font-weight: normal;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__field:first-child {
    margin-bottom: 20px;
  }

  &__field {
    display: block;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color: #777;

    &::after {
      content: '*';
      color: #EF4444;
      margin-left: 2px;
    }
  }

  &input-like {
    height: 30px;
    resize: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  &__snackbar {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    &--success {
      background-color: #4CAF50;
      color: white;
    }

    &--error {
      background-color: #f44336;
      color: white;
    }
  }
}