/* button.component.scss */

.button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    background-color: #490505;
  }

  &--primary {
    background-color: #007bff;
    color: white;
    width: 140px;
  }

  &--primary:hover {
    background-color: #0056b3;
  }

  &--small {
    padding: 6px 12px;
    font-size: 0.9em;
  }
}
