.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-field__input-wrapper {
  position: relative;
}

.form-field__character-count {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #777;
  font-size: 0.8rem;
}

app-label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #777;
}