<header>
  <div class="container">
    <div class="logo">Hogar360</div>
    <nav>
      <a href="#">Compra</a>
      <a href="#">Renta</a>
      <a href="#">Vende</a>
      <button (click)="showLoginModal = true">Ingresar</button>
    </nav>
  </div>
</header>

<div class="main-content-wrapper" [ngClass]="{'list-mode': currentView === 'list'}">

  <aside class="filter-sidebar" [ngClass]="{'sidebar-active': showFilterSidebar}">
    <!-- <div class="sidebar-header">
      <h3>Propiedades</h3>
      <button class="close-sidebar-btn" (click)="toggleFilterSidebar()">&times;</button>
    </div> -->
    <div class="filter-sidebar-content">
      <form (ngSubmit)="applyFilters()">
        <div class="filter-group">
          <label for="tipo-propiedad">Tipo de Propiedad</label>
          <select id="category-select" [formControl]="categorySelectControl" class="search-form__input">
            <option [value]="null">Todas las categorías</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <!-- <div class="filter-group">
          <div class="location-autocomplete-container">
            <input type="text" id="location-input" [formControl]="locationSearchControl"
              placeholder="Buscar por ubicación" (blur)="onBlur()" (focus)="onFocus()" (keydown.enter)="handleEnter()"
              (keydown)="onKeyDown($event)" class="search-form__input" />

            <ul *ngIf="showAutocompleteResults && locationSearchControl.value" class="autocomplete-results">
              <li *ngIf="isLoadingLocations" class="loading-spinner">
                <div class="spinner"></div> Cargando ubicaciones...
              </li>

              <ng-container
                *ngIf="!isLoadingLocations && filteredLocations.length > 0 || (locationSearchControl.value && !selectionMade && locationSearchControl.value !== lastSelectedLocationDisplay && isTyping)">
                <li *ngFor="let location of filteredLocations; let i = index"
                  [class.highlighted]="i === highlightedIndex" (click)="onAutocompleteSelect(location)">
                  {{ location.cityName }} - {{ location.departmentName }}
                  {{ location.neighborhood ? (' - ' + location.neighborhood) : '' }}
                </li>
              </ng-container>

              <li
                *ngIf="!isLoadingLocations && filteredLocations.length === 0 && locationSearchControl.value && !selectionMade && locationSearchControl.value !== lastSelectedLocationDisplay && isTyping"
                class="no-results-message">
                No se encontraron ubicaciones.
              </li>
            </ul>
          </div>
        </div> -->
        <div class="filter-group">
          <label>Habitaciones</label>
          <div class="input-inline-group">
            <input type="number" [formControl]="minRoomsControl" placeholder="Mín." min="0">
            <input type="number" [formControl]="maxRoomsControl" placeholder="Máx." min="0">
          </div>
        </div>
        <div class="filter-group">
          <label>Baños</label>
          <div class="input-inline-group">
            <input type="number" [formControl]="minBathroomsControl" placeholder="Mín." min="0">
            <input type="number" [formControl]="maxBathroomsControl" placeholder="Máx." min="0">
          </div>
        </div>
        <div class="filter-group">
          <label>Precio (COP)</label>
          <div class="input-inline-group">
            <input type="number" [formControl]="minPriceControl" placeholder="Mín." min="0" step="1000000">
            <input type="number" [formControl]="maxPriceControl" placeholder="Máx." min="0" step="1000000">
          </div>
        </div>

        <div class="filter-group">
          <label>Fecha de Disponibilidad para Visita</label>
          <div class="input-inline-group">
            <label>Inicio</label>
            <input type="date" [formControl]="minDateControl" title="Fecha desde">
            <label>Fin</label>
            <input type="date" [formControl]="maxDateControl" title="Fecha hasta">
          </div>
        </div>
        <div class="filter-group">
          <label>Horario de Visita</label>
          <div class="input-inline-group">
            <label>Inicio</label>
            <input type="time" [formControl]="minTimeControl" title="Hora desde">
            <label>Fin</label>
            <input type="time" [formControl]="maxTimeControl" title="Hora hasta">
          </div>
        </div>
        <div class="sidebar-actions">
          <button type="button" class="apply-filters-btn" (click)="applyFilters()">Aplicar Filtros</button>
          <button type="button" class="clear-filters-btn" (click)="clearAllFilters()">Limpiar Filtros</button>
        </div>
      </form>
    </div>
  </aside>

  <div class="page-overlay" [ngClass]="{'overlay-active': showFilterSidebar && currentView === 'grid'}"
    (click)="toggleFilterSidebar()"></div>

  <main class="flex-grow-1">

    <h1>Encuentra tu casa perfecta</h1>

    <section class="search-section">

      <!-- <p>Explora propiedades en venta y renta en tu área.</p> -->
      <div class="container">
        <div class="search-form">
          <!-- <div class="category-select-container">
            <select id="category-select" [formControl]="categorySelectControl" class="search-form__input">
              <option [value]="null">Todas las categorías</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </div> -->
          <div class="location-autocomplete-container">
            <input type="text" id="location-input" [formControl]="locationSearchControl"
              placeholder="Buscar por ubicación" (blur)="onBlur()" (focus)="onFocus()" (keydown.enter)="handleEnter()"
              (keydown)="onKeyDown($event)" class="search-form__input" />

            <ul *ngIf="showAutocompleteResults && locationSearchControl.value" class="autocomplete-results">
              <li *ngIf="isLoadingLocations" class="loading-spinner">
                <div class="spinner"></div> Cargando ubicaciones...
              </li>

              <ng-container
                *ngIf="!isLoadingLocations && filteredLocations.length > 0 || (locationSearchControl.value && !selectionMade && locationSearchControl.value !== lastSelectedLocationDisplay && isTyping)">
                <li *ngFor="let location of filteredLocations; let i = index"
                  [class.highlighted]="i === highlightedIndex" (click)="onAutocompleteSelect(location)">
                  {{ location.cityName }} - {{ location.departmentName }}
                  {{ location.neighborhood ? (' - ' + location.neighborhood) : '' }}
                </li>
              </ng-container>

              <li
                *ngIf="!isLoadingLocations && filteredLocations.length === 0 && locationSearchControl.value && !selectionMade && locationSearchControl.value !== lastSelectedLocationDisplay && isTyping"
                class="no-results-message">
                No se encontraron ubicaciones.
              </li>
            </ul>
          </div>

          <button class="filter-toggle-label" (click)="toggleFilterSidebar()">
            <i class="fas fa-filter"></i> Filtros
          </button>

          <!-- <button id="search-btn" (click)="loadProperties()">Buscar</button> -->
        </div>
      </div>
    </section>

    <section class="property-list-section">
      <div class="container">
        <div class="controls">
          <button id="view-grid-btn" [ngClass]="{'active': currentView === 'grid'}" (click)="setView('grid')"
            title="Vista de Cuadrícula">
            <i class="fas fa-th-large"></i>
          </button>
          <button id="view-list-btn" [ngClass]="{'active': currentView === 'list'}" (click)="setView('list')"
            title="Vista de Lista">
            <i class="fas fa-list"></i>
          </button>
          <button><i class="fas fa-map-marker-alt"></i></button>
        </div>
        <div class="property-grid">
          <div *ngIf="isLoadingProperties" class="loading-spinner-full">
            <div class="spinner"></div> Cargando propiedades...
          </div>

          <div *ngIf="!isLoadingProperties && properties.length === 0" class="no-properties-message">
            No se encontraron propiedades que coincidan con los filtros.
          </div>

          <div class="property-card" *ngFor="let property of properties">
            <div class="image-container">
              <img [src]="property.image || 'https://placehold.co/600x360/E0E0E0/333333?text=Imagen+No+Disponible'"
                alt="Imagen de la propiedad">
              <span class="tag" [ngClass]="{'sale': property.type === 'sale', 'rent': property.type === 'rent'}">
                {{ property.type === 'sale' ? 'Venta' : 'Renta' }}
              </span>
            </div>
            <div class="content">
              <h3>{{ property.name }}</h3>
              <p class="location">
                {{ property.cityName }} - {{ property.departmentName }}
                <span *ngIf="property.neighborhood"> - {{ property.neighborhood }}</span>
              </p>
              <p class="price">$ {{ property.price | number:'1.0-0' }} COP</p>
              <div class="details">
                <div class="icons">
                  <i class="fas fa-bed"></i><span>{{ property.numberOfRooms }}</span>
                  <i class="fas fa-bath"></i><span>{{ property.numberOfBathrooms }}</span>
                  <i class="fas fa-ruler-combined"></i><span>{{ property.areaSqFt }} sq ft</span>
                </div>
                <button class="like-btn"><i class="fas fa-heart"></i></button>
              </div>
              <p class="publication-info">
                Publicación:
                <span *ngIf="property.activePublicationDate">
                  {{ property.activePublicationDate | date:'shortDate' }}
                </span>
                <span *ngIf="!property.activePublicationDate">
                  Sin horario de activación
                </span>
              </p>
              <div class="time-slot-info">
                <span *ngIf="property.hasTimeSlots">
                  Horarios disponibles:
                  <ul class="time-slot-list">
                    <li *ngFor="let slot of property.timeSlots">
                      {{ slot.startTime | date:'shortTime' }} - {{ slot.endTime | date:'shortTime' }}
                      ({{ slot.startTime | date:'shortDate' }})
                    </li>
                  </ul>
                </span>
                <span *ngIf="!property.hasTimeSlots">
                  No tiene horarios definidos para visitas.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<footer>
  <div class="container">
    <div>
      <div class="logo">Hogar360</div>
      <p>Tu partner en la búsqueda del espacio perfecto.</p>
    </div>
    <div>
      <h4>Acceso rápido</h4>
      <ul>
        <li><a href="#">Buscar Propiedades</a></li>
        <li><a href="#">Publica tu propiedad</a></li>
      </ul>
    </div>
    <div>
      <h4>Contáctanos</h4>
      <div class="contact-info">
        <p><i class="fas fa-phone"></i> 1-800-HOGAR360</p>
        <p><i class="fas fa-envelope"></i> info&#64;hogar360.com</p>
        <p><i class="fas fa-map-marker-alt"></i> 123 Real Estate Ave</p>
      </div>
      <h4>Síguenos</h4>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; 2025 Hogar360. All rights reserved.
  </div>
</footer>

<app-login *ngIf="showLoginModal" (closeModalEvent)="showLoginModal = false"></app-login>