<div class="header-with-filter">
  <h2 class="header-with-filter__title">Ubicaciones existentes</h2>
  <div class="header-with-filter__search-container">
    <input type="text" id="filterText" [formControl]="filterTextControl" placeholder="Buscar ubicaciones..."
      class="header-with-filter__search-input" />
    <i class="fas fa-search header-with-filter__search-icon"></i>
  </div>
</div>

<section *ngIf="locationsDto$ | async as locationsList" class="location-list">
  <table class="location-list__table">
    <thead class="location-list__table-head">
      <tr>
        <th class="location-list__table-header">ID</th>
        <th class="location-list__table-header">
          <button class="location-list__sort-button" (click)="toggleOrder('cityName')">
            Ciudad
            <i *ngIf="currentSortBy === 'cityName' && currentSortDirection === 'ASC'"
              class="location-list__sort-icon fas fa-sort-up"></i>
            <i *ngIf="currentSortBy === 'cityName' && currentSortDirection === 'DESC'"
              class="location-list__sort-icon fas fa-sort-down"></i>
          </button>
        </th>
        <th class="location-list__table-header">
          <button class="location-list__sort-button" (click)="toggleOrder('departmentName')">
            Departamento
            <i *ngIf="currentSortBy === 'departmentName' && currentSortDirection === 'ASC'"
              class="location-list__sort-icon fas fa-sort-up"></i>
            <i *ngIf="currentSortBy === 'departmentName' && currentSortDirection === 'DESC'"
              class="location-list__sort-icon fas fa-sort-down"></i>
          </button>
        </th>
        <th class="location-list__table-header">Barrio/Sector</th>
      </tr>
    </thead>
    <tbody class="location-list__table-body">
      <tr *ngFor="let location of locationsList.items" class="location-list__table-row">
        <td class="location-list__table-data">#LOC-{{ location.id }}</td>
        <td class="location-list__table-data">{{ location.cityName }}</td>
        <td class="location-list__table-data">{{ location.departmentName }}</td>
        <td class="location-list__table-data">{{ location.neighborhood }}</td>
      </tr>
    </tbody>
  </table>

  <div class="location-list__pagination">
    <button class="location-list__pagination-button" (click)="prevPage()" [hidden]="(page$ | async) === 0">&lt;</button>
    <button *ngFor="let p of (pages$ | async)" class="location-list__pagination-button" (click)="goToPage(p)"
      [class.location-list__pagination-button--active]="(page$ | async) === p">
      {{ p + 1 }}
    </button>
    <button class="location-list__pagination-button" (click)="nextPage()" *ngIf="totalPages$ | async as totalPages"
      [hidden]="totalPages === 0 || (page$ | async) === totalPages - 1">
      &gt;
    </button>
  </div>
</section>