<div class="schedule-modal" *ngIf="homeId !== null">
  <div class="schedule-modal__content">
    <div class="schedule-modal__header">
      <h2>Gestionar Horarios para la Propiedad #{{ homeId }}</h2>
      <button type="button" class="schedule-modal__close-button" (click)="onClose()"><i class="fas fa-times">
        </i></button>
    </div>
    <div class="schedule-modal__body">
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      <h3>Añadir Nuevo Horario</h3>
      <form [formGroup]="scheduleForm" (ngSubmit)="createSchedule()">
        <div>
          <label for="startTime">Hora de Inicio:</label>
          <input type="datetime-local" id="startTime" formControlName="startTime" [min]="getMinStartTime()"
            [max]="getMaxStartTime()" required>
          <div *ngIf="scheduleForm.get('startTime')?.invalid && scheduleForm.get('startTime')?.touched">
            <div *ngIf="scheduleForm.get('startTime')?.hasError('required')" class="schedule-error-message">La hora de
              inicio es requerida.</div>
            <div *ngIf="scheduleForm.get('startTime')?.hasError('startTimeTooEarly')" class="schedule-error-message">La
              hora de inicio debe ser al
              menos dos horas
              después de la hora actual.</div>
            <div *ngIf="scheduleForm.get('startTime')?.hasError('startTimeTooLate')" class="schedule-error-message">La
              fecha y hora de inicio no puede
              ser
              posterior a tres
              semanas.</div>
          </div>
        </div>
        <div>
          <label for="endTime">Hora de Fin:</label>
          <input type="datetime-local" id="endTime" formControlName="endTime" [min]="getMinEndTime()"
            [max]="getMaxEndTime()" required>
          <div *ngIf="scheduleForm.get('endTime')?.invalid && scheduleForm.get('endTime')?.touched">
            <div *ngIf="scheduleForm.get('endTime')?.hasError('required')" class="schedule-error-message">La hora de fin
              es requerida.</div>
            <div *ngIf="scheduleForm.get('endTime')?.hasError('endTimeTooEarly')" class="schedule-error-message">La hora
              de fin debe ser al
              menos dos
              horas después de
              la hora de inicio.</div>
            <div *ngIf="scheduleForm.get('endTime')?.hasError('endTimeTooLate')" class="schedule-error-message">La fecha
              y hora de fin no puede ser
              posterior a
              tres semanas de
              la hora de inicio.</div>
          </div>
        </div>
        <button type="submit" [disabled]="scheduleForm.invalid">Crear Horario</button>
      </form>

      <hr>

      <h3>Horarios Existentes</h3>
      <div *ngIf="timeSlots.length > 0; else noSchedules">
        <ul class="schedule-list">
          <li *ngFor="let slot of timeSlots">
            <div class="schedule-item">
              <div class="schedule-date">
                {{ slot.startTime | date:'EEE, d \'de\' MMMM \'de\' y':'es' }}
              </div>
              <div class="schedule-time">
                {{ slot.startTime | date:'h:mm a' }} - {{ slot.endTime | date:'h:mm a':'es' }}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noSchedules>
        <p class="schedule-modal__no-schedules-message">No hay horarios definidos para esta propiedad.</p>
      </ng-template>
    </div>
  </div>
</div>
