.app-label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #777;

  .required-star {
    color: #EF4444;
    margin-left: 2px;
  }
}