<div class="location-selector">
  <ng-container *ngIf="displayType === 'autocomplete'; else dropdownSelector">
    <label class="location-selector__label" for="searchInput">Buscar Ubicación:</label>
    <input type="text" id="searchInput" [formControl]="searchControl" class="location-selector__input form-control"
      (blur)="onBlur()" (keydown.enter)="handleEnter()">
    <ul *ngIf="locations$ | async as locations" class="autocomplete-results" [class.show]="showAutocompleteResults">
      <li *ngFor="let location of locations" (click)="onAutocompleteSelect(location)">
        {{ location.cityName }} - {{ location.departmentName }} -{{location.neighborhood}}
      </li>
      <li
        *ngIf="(locations$ | async)?.length === 0 && searchControl.value && showAutocompleteResults && !selectionMade">
        No se encontraron ubicaciones.</li>
    </ul>
  </ng-container>

  <ng-template #dropdownSelector>
    <label class="location-selector__label" for="location">Ubicación:</label>
    <select class="location-selector__select form-control" id="location" (change)="onLocationChange($event)">
      <option value="">Todas las ubicaciones</option>
      <option *ngFor="let location of allLocations" [value]="location.id">{{ location.cityName }} - {{
        location.departmentName }} - {{ location.neighborhood}}</option>
    </select>
  </ng-template>
</div>
