.dashboard-footer-container {
  display: flex;
  padding: 0rem 15rem;
  background-color: #F9FAFB;
  // border-top: 1px solid #dee2e6;
  color: #495057;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer-section {
  text-align: center;
}

.hogar360-section {
  flex-basis: 25%;
  text-align: left;
}

.hogar360-section h3 {
  flex-basis: 25%;
  text-align: left;
  font-size: 22px;
  color: #007bff;
}

.acceso-rapido-section {
  flex-basis: 25%;
  text-align: left;
}

.contactanos-section {
  flex-basis: 25%;
  text-align: left;
}

.siguenos-section {
  flex-basis: 25%;
  text-align: left;
}

.hogar360-section {
  margin-right: 2%;
}

.acceso-rapido-section {
  margin-right: 2%;
}

.contactanos-section {
  margin-right: 2%;
}


.footer-section p,
.footer-section ul,
.footer-section a {
  font-size: 0.8rem;
  color: #6c757d;
  line-height: 1.4;
  margin-bottom: 0.2rem;
}

.footer-section p i {
  margin-right: 0.3rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.1rem;
}

.footer-section ul li a {
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.siguenos-section .social-links a {
  color: #6c757d;
  font-size: 1.1rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.siguenos-section .social-links a:hover {
  color: #007bff;
}

.copyright {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 0.75rem;
  border-top: 1px solid #dee2e6;
}


.fas,
.fab {
  margin-right: 0.3rem;
}
