<div class="dashboard-header-container">
  <div class="logo">
    <span class="hogar-part">Hogar</span>
    <span class="tres-sesenta-part"> 360</span>
  </div>
  <div class="user-info">
    <span class="welcome-message">Bienvenido, Admin</span>
    <div class="user-icon">
      <svg viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd"
          d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3A5.25 5.25 0 0012 1.5zm-2.25 14.25h4.5a2.25 2.25 0 012.25 2.25v1.5h-9v-1.5a2.25 2.25 0 012.25-2.25z"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>
