<h2 class="create-location-form__title">Crear Ubicación</h2>
<div class="create-location-form__container">
  <form [formGroup]="locationForm" (ngSubmit)="handleCreateLocation()" class="create-location-form__form">

    <div class="create-location-form__field">
      <label for="cityDepartmentId" class="create-location-form__label">Ciudad/Departamento</label>
      <select formControlName="cityDepartmentId" id="cityDepartmentId" class="form-select input-like" required>
        <option value="" disabled selected>Ciudad/Departamento</option>
        <option *ngFor="let cityDepartment of citiesDepartments" [value]="cityDepartment.id">
          {{ cityDepartment.name }} - {{ cityDepartment.department }}
        </option>
      </select>
      <div
        *ngIf="locationForm.controls['cityDepartmentId'].invalid && (locationForm.controls['cityDepartmentId'].dirty || locationForm.controls['cityDepartmentId'].touched)">
        <div *ngIf="locationForm.controls['cityDepartmentId'].errors?.['required']">
          {{ formMessages.REQUIRED }}
        </div>
      </div>
    </div>

    <div class="create-location-form__field">
      <app-textarea-field formControlName="neighborhood" id="neighborhood" labelText="Barrio/Sector"
        [placeholder]="'Escribe el Barrio o sector de la ciudad'" [required]="true" [maxlength]="50"
        [textareaClass]="'input-like'"></app-textarea-field>
    </div>

    <div class="create-location-form__actions">
      <app-button buttonText="Crear" [isPrimary]="true" type="submit"></app-button>
    </div>
  </form>

  <div *ngIf="creationResult$ | async as result" class="create-location-form__snackbar"
    [ngClass]="{ 'create-location-form__snackbar--success': result?.success, 'create-location-form__snackbar--error': result?.error }">
    {{ result?.message || result?.error }}
  </div>

</div>
